body {
  background-color:blue;
}
.box {
  margin: 100px 100px 100px 100px;
  border: black 5px solid;
  padding: 0px 0px 0px 0px;
}
p{
  font-size: 24px;
  color: red;
  margin: 20px;
  border: green 3px dashed;
  padding: 15px 15px 15px 15px;
}
img{
  margin: 0px;
  border: yellow 3px dashed;
  padding: 20px 20px 20px 20px;
}
